* {
  box-sizing: border-box;
}
body {
  margin: 0 0;
}
.container {
  width: 60%;
  margin: 20px auto;
}
.wrap {
  margin: 30px auto;
  width: 80%;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.wrap {
  position: relative;
}
.cross-win,
.null-win {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
  display: none;
  flex-direction: column;
}
.win-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  color: red;
}
.win-img {
  width: 100%;
}
.field {
  width: 90%;
  margin: 20px auto;
}
.b-right {
  border-right: solid 5px red;
}
.b-bottom {
  border-bottom: solid 5px red;
}
.cell {
  width: 33.3%;
  height: 0;
  padding-top: 33.3%;
}
.null {
  background-image: url(./img/krasnyi-krug.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.cross {
  background-image: url(./img/red-cross.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
